<div class="card m-2 shadow-sm bordered">
    <div class="card-header">
      <div class="row p-1">
        <div class="text-muted h4 col-sm-10 mx-2 mt-1">Preview</div>
        <button class="btn btn-primary col m-1">Print</button>
        <button class="btn btn-success col m-1">Send</button>
      </div>
    </div>
    <div class="card-body shadow-sm">
      <div class="not-main-header p-2">
        <div class="row m-1 p-2">
          <div class="col-md-2 text-center logo">
            <img
              src="https://raw.githubusercontent.com/GuruNadh552/Angular-MidPaper-Ui/master/src/assets/img/logo.jpg"
              alt="logo"
              width="100"
              height="120"
            />
          </div>
          <div class="col">
            <div class="text-center h3 mt-2">
              Rajiv Gandhi University Of Knowledge Technologies-
              AP,Srikakulam
            </div>
            <div class="text-center h4">Placements and Traning Cell</div>
            <div class="text-center h5 text-decoration-underline">
              Internship Notification Form
            </div>
          </div>
        </div>
        <hr class="m-2" />
      </div>
      <div class="not-main-body p-1">
        <div
          class="data-of-not"
          style="text-align: right; margin-right: 10px"
        >
          Date : <strong>{{data.create_date}}</strong>
        </div>
        <div class="row m-1 p-1">
          <div class="col">
            <span class="title h5">Name of the Company :</span>
            {{data.company_name }}
          </div>
          <div class="col">
            <span class="title h5">Sector of Industry :</span> {{data.company_sector }}
          </div>
        </div>

        <div class="row m-1 p-1">
          <div class="col">
            <span class="title h5">Website/URL for Company :</span>
            {{ data.company_website }}
          </div>
          <div class="col">
            <span class="title h5">Location of Company :</span>
            {{ data.address }}
          </div>
        </div>

        <div class="row m-1 p-1">
          <div class="col">
            <span class="title h5">Preferred Date of Visit :</span>
            {{ data.visit_date }}
          </div>
          <div class="col">
            <span class="title h5">Registration :</span> {{data.registration_type}}
          </div>
        </div>

        <div class="row m-1 p-1">
          <div class="col">
            <span class="title h5">Point of Contact & Designation :</span>
            {{data.poc}}
          </div>
          <div class="col">
            <span class="title h5">Mobile No& Email ID :</span>
            {{data.poc_email_phone}}
          </div>
        </div>

        <div class="check-not m-2">
          <table class="table table-bordered text-center">
            <tr>
              <th rowspan="2">Type of RecuirtMent ( Y / N )</th>
              <th>Only Internship</th>
              <th>Internship with Pre-Placement Offer</th>
              <th>Only Placements</th>
            </tr>
            <tr>
              <td><div *ngIf=" data.recruitment_type === 'Internship'; else No">Y</div></td>
              <td><div *ngIf=" data.recruitment_type === 'Internship with Job'; else No">Y</div></td>
              <td><div *ngIf=" data.recruitment_type === 'Only Job'; else No">Y</div></td>
              <ng-template #No>N</ng-template>
            </tr>
            <tr></tr>
          </table>
        </div>

        <div class="row m-1 p-1">
          <div class="col">
            <span class="title h5">Job Designation :</span>
            <span class="text-primary"> {{data.job_role}} </span>
          </div>
          <div class="col">
            <span class="title h5">Place of Posting : </span>
            <span class="text-primary">{{data.posting_place}}</span>
          </div>
        </div>

        <div class="d-block description mx-3 p-1">
          <span class="h5">Job Description :</span>
          <span class="text-primary">{{data.job_description}}</span>
        </div>
        <div class="d-block description mx-3 p-1">
          <span class="h5"> Package Details : </span>
          <span class="text-primary">{{data.package_details}}</span>
        </div>
        <div class="d-block description mx-3 p-1">
          <span class="h5"> Eligibility Criteria : </span>
          <span class="text-primary">
            {{data.eligibility_criteria}}
          </span>
        </div>
        <div class="d-block description mx-3 p-1">
          <span class="h5"> Monthly Stipend : </span>
          <span class="text-primary"> {{data.stiphend}} </span>
        </div>
        <div class="d-block description mx-3 p-1">
          <span class="h5">Training/Internship duration/PPO :</span>
          <span class="text-primary">{{data.job_duration}}</span>
        </div>

        <div class="d-block description mx-3 p-1">
            <div class="h5">Courses Considered for Recruitment – B.Tech(Under Graduate Programme )</div>
            <table class="table table-bordered text-center">
                <tr>
                    <th>Branch</th>
                    <th>Chemical</th>
                    <th>Civil</th>
                    <th>Computer Science</th>
                    <th>Electronics & Communications</th>
                    <th>Mechanical</th>
                    <th>Metallurgical & Materials</th>
                </tr>
                <tr>
                    <td></td>
                    <td><div *ngIf=" data.chem === 'Y'; else No">Y</div></td>
                    <td><div *ngIf=" data.civil === 'Y'; else No">Y</div></td>
                    <td><div *ngIf=" data.cse === 'Y'; else No">Y</div></td>
                    <td><div *ngIf=" data.ece === 'Y'; else No">Y</div></td>
                    <td><div *ngIf=" data.mech === 'Y'; else No">Y</div></td>
                    <td><div *ngIf=" data.mme === 'Y'; else No">Y</div></td>

                </tr>
            </table>
        </div>

        <div class="d-block description mx-3 p-1">
            <div class="h5">Selection Process Details:</div>
            <table class="table table-bordered text-center">
                <tr>
                    <th colspan="3">Resume based shortlisting (Y/N)</th>
                    <th><div *ngIf=" data.resume_shortlist === 'Y'; else No">Y</div></th>
                </tr>
                <tr>
                    <th>Online Test / Pen-Paper Test</th>
                    <td><div *ngIf=" data.online_test=== 'Y'; else No">Y</div></td>
                    <th>Aptitude Test (Y/N)</th>
                    <td><div *ngIf=" data.aptitude_test === 'Y'; else No">Y</div></td>
                </tr>
                <tr>
                    <th>Technical Test (Y/N)</th>
                    <td><div *ngIf=" data.technical_test === 'Y'; else No">Y</div></td>
                    <th>Group Discussion (Y/N)</th>
                    <td><div *ngIf=" data.group_discussion === 'Y'; else No">Y</div></td>
                </tr>
                <tr>
                    <th colspan="2">Personal Interview</th>
                    <td colspan="2">
                        Technical - {{data.technical_interview}}<br>
                        HR - {{data.hr_interview}}
                    </td>
                </tr>
                <tr>
                    <th colspan="3">Details of other rounds (if any)</th>
                    <td>{{data.other_details}}</td>
                </tr>
                <tr>
                    <th>Expected no. of recruits</th>
                    <td>{{data.number_recruits}}</td>
                    <th>Third Party Details (if any)</th>
                    <td>{{data.third_party_details}}</td>
                </tr>
            </table>
        </div>

        <div class="facilities-available">
            <div class="title h5 mx-3 p-1">Facilities Available (On Campus)</div>
            <ol class="p-1 mx-5">
                <li class="m-1">300+ systems with power backup in computer labs for online tests with 1 Gbps connection.</li>
                <li class="m-1">Video Conferencing and Skype interviews can be conducted.</li>
                <li class="m-1">Institute has a Guest House with Moderate Facilities available in the campus without any charges. (Subject to availability)</li>
                <li class="m-1">Local transport including pick & drop facility and hospitality will be our pleasure.</li>
            </ol>
        </div>
        <div class="alert alert-primary m-3 p-3">
            <div>
                <strong class="m-1">For any clarification please call</strong>
                <div class="m-1">K.Vijay Bhaskar,M.Tech(CSE),Placement Incharge</div>
                <div class="m-1">Mobile No: -7893403432</div>
            </div>
        </div>
      </div>
    </div>
  </div>
