<div class="container">

  <div class="row">
    <div class="col mt-5 " style="margin-left:100px;margin-top: 200px!important;">
      <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQGTLlTnEgAbkQ/company-logo_200_200/0/1626353935074?e=2159024400&v=beta&t=T5r70gFY0fvqVefjZnygRz3sflzNd2Mdiyl_B--O3GI" alt="" style="width: 450px;height:400px;border-radius: 50%;box-shadow: 5px 10px 10px #ccc;">
    </div>
    <div class="col mt-5" style="margin-left:250px;margin-top: 200px!important;">
      <div class="card shadow rounded-4 p-2 border border-light">
        <div class="card-body p-5 p-sm-5">
          <h5 class="card-title text-center mb-3 fw-light fs-5">Sign In</h5>
          <!-- For Error Modal -->
            <div class="alert alert-light bg-danger bordered text-light shadow-sm text-center rounded" *ngIf="isValid">
             {{ errorValue }}
            </div>
          <!-- For Error Modal -->
            <div class="form-floating mb-3">
              <input type="text" class="form-control" placeholder="S160552" [(ngModel)]="studentId">
              <label for="floatingInput">Email:</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]='password'>
              <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
              <label class="form-check-label" for="rememberPasswordCheck">
                Remember password
              </label>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" (click)="login()">Sign
                in</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
