<div class="card m-3 border border-secondary shadow-sm rounded" *ngIf="data && !data.isDelete">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-1">
        <img class="rounded-circle" src= {{data.logo}} alt="" srcset="" width="60px" height="60px">
      </div>
      <div class="col">
        <div class="note-text h5">
          {{data.company_name}}
        </div>
        <div class="note-sub text-muted">
            {{data.tag_line}}
        </div>
      </div>
      <div class="col-sm-2">
          <div class="viewitem">
            <button type="button" class="btn btn-outline-primary" >View</button>
            <button type="button" class="btn btn-outline-secondary mx-3" (click)="deleteNot(data.notification_id)">Delete</button>
          </div>
      </div>
    </div>
  </div>
</div>
