<div class="card m-3 border border-secondary shadow-sm rounded" *ngIf="!data.isDelete">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-1">
        <img class="rounded-circle" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAhFBMVEUAAADyUCJ/ugAApO//uQAuLi46VACDwAAAHy0Aq/kAk9b6UyOdNBZSeQD4UiPZSB8tDwZgjQBuJA8wIwD/wAB0VADBjADkpgAAHy4AmN6MLhSjNhcdCgQmNwA+WwDeSR+GxABjIQ4TBgMaJgAsQAAVDwAlGwD/xgDJkgAAg79oTACtfgDF/SD2AAABfUlEQVR4nO3bR04DQBBEUROcyRiwSTbRhPvfD8kWG1agZgQF7x+gNE+9nk7nj9f96Qc0jzA/wvwI8yPMjzA/wvwI8yPMjzA/wvwI8yPMjzA/wvwI8yPMjzA/wvwI8yPMjzA/wg+d75S6uFytXO3Wum4onI/3Ko0PViu9Rb/S4rChcH+j1Luwv1mpT0hISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISEhISPifhPNxrd//d+3mqNbtauWuV+u+oTAwwvwI8/uicDAdVJquVx6Oaz02FM6GtdbEk+Wk0vKpoXC0VWo4WAsn26VOCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQk/LZx+h3DSUvg8KjVb3/DlrNZrQ2FghPkR5keYH2F+hPkR5keYH2F+hPkR5keYH2F+hPkR5keYH2F+hPkR5keYH2F+hPkR5td9A4oV8ThocrpkAAAAAElFTkSuQmCC" alt="" srcset="" width="60px" height="60px">
      </div>
      <div class="col">
        <div class="note-text h5">
          {{data.company_name}}
        </div>
        <div class="note-sub text-muted">
            {{data.tag_line}}
        </div>
      </div>
      <div class="col-sm-2">
          <div class="viewitem">
            <button type="button" class="btn btn-outline-primary">View</button>
            <button type="button" class="btn btn-outline-secondary mx-3" (click)="deleteNot(data.notification_id)">Delete</button>
          </div>
      </div>
    </div>
  </div>
</div>
