<div class="container bg-light mt-2 p-2 " id="container">
  <div class="container">
    <h3 class="card-title text-dark p-1">Company Details</h3>
    <div class="row">
      <div class="col">
        <label for="inputName" class="p-2">Company Name</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          placeholder="e.g. Salesforce"
          [(ngModel)]= "company_name"
        />
      </div>
      <div class="col">
        <label for="inputSector" class="p-2">Company Sector</label>
        <input
          type="text"
          class="form-control"
          id="inputSector"
          placeholder="e.g. IT Services"
          [(ngModel)]= "company_sector"
        />
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <label for="inputLocation" class="p-2">Website</label>
        <input
          type="url"
          class="form-control"
          id="inputWebsite"
          placeholder="e.g. www.salesforce.com"
          [(ngModel)]= "company_website"
        />
      </div>
      <div class="col col-md-6">
        <label for="inputDate" class="p-2">Date of Visit</label>
        <input
          type="date"
          class="form-control"
          id="inputDate"
          placeholder="Date of Visit"
          [(ngModel)]= "visit_date"
        />
      </div>
    </div>
    <div class="col">
      <label for="inputLocation" class="p-2">Company Logo Url</label>
        <input
          type="url"
          class="form-control"
          id="inputWebsite"
          placeholder="e.g. data:logo_tcs.png"
          [(ngModel)]= "logo_url"
        />
    </div>
    <div class="col">
      <label for="inputAddress2" class="p-2">Address</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="Apartment, studio, or floor"
        [(ngModel)]= "address"
      ></textarea>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <label for="inputType" class="p-2">Registration Type(Online/Offline)</label>
        <select name="" id="inputType" class="form-select" [(ngModel)]= "registration_type">
          <option value="Online">Online</option>
          <option value="Offline" selected>Offline</option>
        </select>
      </div>
      <div class="col col-md-6">
        <label for="inputContact" class="p-2">Point of Contact</label>
        <input
          type="text"
          class="form-control"
          id="inputContact"
          placeholder="H.R Executive"
          [(ngModel)]= "poc"
        />
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <label for="inputLocation" class="p-2">Point of Contact Email Mobile</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          [(ngModel)]= "poc_email_phone"
        ></textarea>
      </div>
      <div class="col col-md-6">
        <label for="inputLocation" class="p-2">Job Description</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          [(ngModel)]= "job_description"
        ></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <label for="inputType" class="p-2">Place of Posting</label>
        <input
          type="text"
          class="form-control"
          id="inputPosting"
          placeholder="e.g. Hyderabad"
          [(ngModel)]= "posting_place"
        />
      </div>
      <div class="col col-md-6">
        <label for="inputType" class="p-2">Package Details</label>
        <input
          type="text"
          class="form-control"
          id="inputPkg"
          placeholder="e.g. 6LPA"
          [(ngModel)]= "package_details"
        />
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <label for="inputLocation" class="p-2">Eligibility Criteria</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="e.g. Minimum 60%"
          [(ngModel)]= "eligibility_criteria"
        ></textarea>
      </div>
      <div class="col col-md-6">
        <label for="inputLocation" class="p-2">Bond Details(If Applicable)</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
          placeholder="e.g. 1 year bond"
          [(ngModel)]= "bond_details"
        ></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col col-md-6">
        <label for="inputLocation" class="p-2">Job Duration</label>
        <input
          type="text"
          class="form-control"
          id="inputWebsite"
          placeholder="e.g. Duration"
          [(ngModel)]= "job_duration"
        />
      </div>
      <div class="col col-md-6">
        <label for="inputType" class="p-2">Stipend</label>
        <input
          type="text"
          class="form-control"
          id="inputType"
          placeholder="e.g. 20,000"
          [(ngModel)]= "stiphend"
        />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="inputLocation" class="p-2">Job Role</label>
        <input
          type="text"
          class="form-control"
          id="inputWebsite"
          placeholder="e.g. Associate System Engineer"
          [(ngModel)]= "job_role"
        />
      </div>
      <div class="col">
        <label for="inputType" class="p-2">Type of Recruit</label>
        <select name="" id="" class="form-select" [(ngModel)]= "recruitment_type">
          <option value="Internship" selected>Internship</option>
          <option value="Only Job">Only Job</option>
          <option value="Internship with Job">Internship with Job</option>
        </select>
      </div>
      <div class="col">
        <label for="inputLocation" class="p-2">Number of Recruits</label>
        <input
          type="number"
          class="form-control"
          id="inputWebsite"
          placeholder="e.g. 100"
          [(ngModel)]= "number_recruits"
        />
      </div>
    </div>
    <div class="row">
      <div class="col col-md-6">
        <label for="inputLocation" class="p-2">Eligible Branch</label>
      </div>
      <div class="row">
        <div class="col">
          <label class="p-2">CSE</label>
          <select class="form-select" [(ngModel)]= "cse">
            <option value="Y">Y</option>
            <option value="N">N</option>
          </select>
        </div>
        <div class="col">
          <label class="p-2">ECE</label>
          <select class="form-select" [(ngModel)]= "ece">
            <option value="Y">Y</option>
            <option value="N">N</option>
          </select>
        </div>
        <div class="col">
          <label class="p-2">MECH</label>
          <select class="form-select" [(ngModel)]= "mech">
            <option value="Y">Y</option>
            <option value="N">N</option>
          </select>
        </div>
        <div class="col">
          <label class="p-2">CIVIL</label>
          <select class="form-select" [(ngModel)]= "civil">
            <option value="Y">Y</option>
            <option value="N">N</option>
          </select>
        </div>
        <div class="col">
          <label class="p-2">CHEMICAL</label>
          <select class="form-select" [(ngModel)]= "chem">
            <option value="Y">Y</option>
            <option value="N">N</option>
          </select>
        </div>
        <div class="col">
          <label class="p-2">MME</label>
          <select class="form-select" [(ngModel)]= "mme">
            <option value="Y">Y</option>
            <option value="N">N</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="inputResume" class="p-2">Resume Shortlist</label>
      <select name="" id="" class="form-select" [(ngModel)]= "resume_shortlist">
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
    <div class="col">
      <label for="inputType" class="p-2">Online Test</label>
      <select name="" id="" class="form-select" [(ngModel)]= "online_test">
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
    <div class="col">
      <label for="inputResume" class="p-2">Aptitude Test</label>
      <select name="" id="" class="form-select" [(ngModel)]= "aptitude_test">
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
    <div class="col">
      <label for="inputType" class="p-2">Technical Test</label>
      <select name="" id="" class="form-select" [(ngModel)]= "technical_test">
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <label for="inputResume" class="p-2">Group Discussion</label>
      <select name="" id="" class="form-select" [(ngModel)]= "group_discussion">
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
    <div class="col">
      <label for="inputType" class="p-2">Technical Interview</label>
      <select name="" id="" class="form-select" [(ngModel)]= "technical_interview">
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
    <div class="col">
      <label for="inputResume" class="p-2">MR Interview</label>
      <select name="" id="" class="form-select" [(ngModel)]= "mr_interview">
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
    <div class="col">
      <label for="inputType" class="p-2">HR Interview</label>
      <select name="" id="" class="form-select" [(ngModel)]= "hr_interview">
        <option value="Y">Y</option>
        <option value="N">N</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6">
      <label for="inputLocation" class="p-2">Other Details</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="e.g. Minimum 60%"
        [(ngModel)]= "other_details"
      ></textarea>
    </div>
    <div class="col col-md-6">
      <label for="inputLocation" class="p-2">Third Party Details</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        placeholder="e.g. 1 year bond"
        [(ngModel)]= "third_party_details"
      ></textarea>
    </div>
  </div>

  <button class="btn btn-primary m-2" (click)="submitData()">
    Submit
  </button>
</div>
