<div class="card">
  <div class="table-responsive-ms">
      <table class="table table-hover table-light">
        <thead class="thead-light">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Company Name</th>
            <th scope="col">Offer Type</th>
            <th scope="col">Role(s)</th>
            <th scope="col">Package/Stiphend</th>
            <th scope="col">Date of Visit</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>21</th>
            <th scope="row">
              <img class="img-fluid rounded-circle" src="icon.png" style="width: 50px;" alt="logo">
              Wipro
            </th>
            <td>Job</td>
            <td>Project Engineer</td>
            <td>3.5 LPA</td>
            <td>26-10-2022</td>
            <td>
              <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button class="btn btn-primary"><i class="fa fa-check" style="font-size:15px"></i></button>
              <button class="btn btn-danger"><i class="fa fa-close" style="font-size:15px"></i></button>
            </td>
          </tr>
          <tr>
            <th>21</th>
            <th scope="row">
              <img class="img-fluid rounded-circle" src="icon.png" style="width: 50px;" alt="logo">
              Wipro
            </th>
            <td>Job</td>
            <td>Project Engineer</td>
            <td>3.5 LPA</td>
            <td>26-10-2022</td>
            <td>
              <button class="btn btn-primary p-2 m-1"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button class="btn btn-primary p-1 m-1"><i class="fa fa-check" style="font-size:15px"></i></button>
              <button class="btn btn-danger"><i class="fa fa-close" style="font-size:15px"></i></button>
            </td>
          </tr>
          <tr>
            <th>21</th>
            <th scope="row">
              <img class="img-fluid rounded-circle" src="icon.png" style="width: 50px;" alt="logo">
              Wipro
            </th>
            <td>Job</td>
            <td>Project Engineer</td>
            <td>3.5 LPA</td>
            <td>26-10-2022</td>
            <td>
              <button class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button class="btn btn-primary"><i class="fa fa-check" style="font-size:15px"></i></button>
              <button class="btn btn-danger"><i class="fa fa-close" style="font-size:15px"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
